<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BLOG 실습</h1>
    <br><br>
    <a href="/blog/write">글쓰기</a>
    <p>글내용들</p>
    <!-- localhost:3000/blog/write -->
    <% for(let i=0; i<content.length; i++) { %>
        <a href="/blog/read/<%=content[i].no %>"><%= content[i].title %></a><br>
    <% } %>
</body>
</html>